@import 'mixin';

body{
  @media screen and (min-width:1000px) {
    padding-top: 125px;
  }
  @media screen and (max-width:1000px) {
    padding-top: 100px;
  }
}
header{
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid red;
  @media screen and (min-width:1000px) {
    height: 125px;
  }//header lg
  @media screen and (max-width:1000px) {
    height: 100px;
  }//header sm
  .header-top{
    height: 35px;
    background: #eee;
    .menu-member{
      @include center-width;
      height: inherit;
      text-align: right;
      a{
        display: inline-block;
        height: inherit;  
        margin-left: 1px;
        padding: 0 20px;
        line-height: 35px;
        background: #999;
        color: #fff;
        font-size: 0.85em;
        transition: all .3s;
        &:hover{
          background: var(--main-color);
        }
      }
    }//menu-member
  }//header-top
  .header-bottom{
    @include center-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 35px);
    h1{
      height: 60%;
      img{
        height: 100%;
      }
    }
  }//header-bottom
}//header
.gnb-lg{
  >ul{
    display: flex;
    >li{
      height: 40px;
      &:hover{
        >a{color: var(--main-color);}
        >ul{
          max-height: 300px;
        }
      }
      >a{
        display: block;
        height: 40px;
        padding: 0 30px;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.1em;
        color: #666;
        transition: all 0.3s;
      }
      >ul{
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s;
        >li{
          >a{
            display: block;
            height: 35px;
            line-height: 35px;
            text-align: center;
            background: #555;
            color: #fff;
            font-size: 0.95em;
            transition: all 0.3s;
            &:hover{
              background: var(--main-color);
            }
          }//2dep-a
        }//li
      }//2dep-ul
    }//li
  }
}
.gnb-sm{
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba($color: #000, $alpha: 0.8);
  >ul{
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    max-width: 300px;
    height: 100%;
    padding-top: 70px;
    box-sizing: border-box;
    background: #fff;
    >li{
      >a{
        display: block;
        padding: 10px 20px;
        border-bottom: 1px solid #eee;
        font-weight: 600;
        text-transform: uppercase;
        color: #333;
        @include icon-font(after,'\f149');
        &::after{
          float:right;
        }
      }//1dep-a
      >ul{
       >li{
          a{
            display: block;
            padding: 9px 30px;
            background: #333;
            color: #bbb;
            font-size: 0.95em;
            border-bottom: 1px solid #666;
          }//2dep-a
       }///2dep-li
      }//2dep-ul
    }//1dep-li
  }
}