@media screen and (min-width: 1000px) {
  body {
    padding-top: 125px;
  }
}
@media screen and (max-width: 1000px) {
  body {
    padding-top: 100px;
  }
}

header {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid red;
}
@media screen and (min-width: 1000px) {
  header {
    height: 125px;
  }
}
@media screen and (max-width: 1000px) {
  header {
    height: 100px;
  }
}
header .header-top {
  height: 35px;
  background: #eee;
}
header .header-top .menu-member {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  height: inherit;
  text-align: right;
}
header .header-top .menu-member a {
  display: inline-block;
  height: inherit;
  margin-left: 1px;
  padding: 0 20px;
  line-height: 35px;
  background: #999;
  color: #fff;
  font-size: 0.85em;
  transition: all 0.3s;
}
header .header-top .menu-member a:hover {
  background: var(--main-color);
}
header .header-bottom {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 35px);
}
header .header-bottom h1 {
  height: 60%;
}
header .header-bottom h1 img {
  height: 100%;
}

.gnb-lg > ul {
  display: flex;
}
.gnb-lg > ul > li {
  height: 40px;
}
.gnb-lg > ul > li:hover > a {
  color: var(--main-color);
}
.gnb-lg > ul > li:hover > ul {
  max-height: 300px;
}
.gnb-lg > ul > li > a {
  display: block;
  height: 40px;
  padding: 0 30px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1em;
  color: #666;
  transition: all 0.3s;
}
.gnb-lg > ul > li > ul {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.gnb-lg > ul > li > ul > li > a {
  display: block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #555;
  color: #fff;
  font-size: 0.95em;
  transition: all 0.3s;
}
.gnb-lg > ul > li > ul > li > a:hover {
  background: var(--main-color);
}

.gnb-sm {
  display: none;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 1s;
}
.gnb-sm > ul {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  max-width: 300px;
  height: 100%;
  padding-top: 90px;
  box-sizing: border-box;
  background: #fff;
  transform: translateX(100%);
  transition: transform 0.5s;
}
.gnb-sm > ul > li > a {
  display: block;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}
.gnb-sm > ul > li > a::after {
  content: "\f149";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.gnb-sm > ul > li > a.active {
  color: var(--main-color);
}
.gnb-sm > ul > li > a.active::after {
  transform: rotate(180deg);
}
.gnb-sm > ul > li > a::after {
  float: right;
  transition: all 0.3s;
}
.gnb-sm > ul > li > ul {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s;
}
.gnb-sm > ul > li > ul.active {
  max-height: 400px;
}
.gnb-sm > ul > li > ul > li a {
  display: block;
  padding: 9px 30px;
  background: #333;
  color: #bbb;
  font-size: 0.95em;
  border-bottom: 1px solid #666;
}

.gnb-sm.active1 {
  display: block;
}

.gnb-sm.active2 {
  opacity: 1;
}
.gnb-sm.active2 > ul {
  transform: translateX(0);
  transition-delay: 0.5s;
}

.mbtn {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 1.3em;
  color: #333;
  transition: all 0.3s;
}
.mbtn .close {
  display: none;
}
.mbtn.active {
  transform: translateX(15px);
}
.mbtn.active .close {
  display: block;
}
.mbtn.active .bar {
  display: none;
}/*# sourceMappingURL=header.css.map */